* {
    margin: 0px;
    padding: 0;
}

body {
    margin: 10px;
}

ul.navbar {
    display: flex;
    list-style-type: none;
}

ul.navbar li {
    margin: 1rem;
    padding: 5px 15px;
}

ul.navbar li a {
    text-decoration: none;
    color: #000;
}

ul.navbar li a:hover {
    color: #FFF;
}

ul.navbar li:hover {
    background: blue;
    color: #FFF;
}

/* stats */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.row {
    display: flex;
    justify-content: flex-end;
}

.row .item {
    padding: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-bottom: 15px;
}

#dateFilterForm {
    display: flex;
    align-items: end;
    gap: 25px;
}

form#dateFilterForm .group {
    display: flex;
    flex-direction: column;
}

form#dateFilterForm .group label {
    font-weight: bold;
}


